<!doctype html>
<html lang="en" ng-app="PuntersBotApp">
<head>
  <meta charset="utf-8">
  <title>Punters Bot</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/assets/min/production.min.css">
  <!--STYLES END-->
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" ng-view>
  <%-body%>

  <!--TEMPLATES-->
  
  <!--TEMPLATES END-->
  
  <!--SCRIPTS-->
  <script src="/assets/min/production.min.js"></script>
  <!--SCRIPTS END-->
</body>
</html>
