<!doctype html>
<html lang="en" ng-app="PuntersBotApp">
<head>
  <meta charset="utf-8">
  <title>Punters Bot</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/app.css">
  <link rel="stylesheet" href="/styles/grayscale.css">
  <link rel="stylesheet" href="/styles/pricing.css">
  <link rel="stylesheet" href="/dependencies/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/dependencies/font-awesome/font-awesome.css">
  <!--STYLES END-->
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <div ng-view>
    <%-body%>
  </div>
  <!--TEMPLATES-->
  <script type="text/javascript" src="/jst.js"></script>
  <!--TEMPLATES END-->
  
  <!--SCRIPTS-->
  <script src="/dependencies/jquery/jquery.js"></script>
  <script src="/dependencies/angular/angular.js"></script>
  <script src="/dependencies/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/dependencies/angular-route/angular-route.js"></script>
  <script src="/dependencies/angular-socket-io/socket.js"></script>
  <script src="/dependencies/bootstrap-sass-official/affix.js"></script>
  <script src="/dependencies/bootstrap-sass-official/alert.js"></script>
  <script src="/dependencies/bootstrap-sass-official/button.js"></script>
  <script src="/dependencies/bootstrap-sass-official/carousel.js"></script>
  <script src="/dependencies/bootstrap-sass-official/collapse.js"></script>
  <script src="/dependencies/bootstrap-sass-official/dropdown.js"></script>
  <script src="/dependencies/bootstrap-sass-official/modal.js"></script>
  <script src="/dependencies/bootstrap-sass-official/popover.js"></script>
  <script src="/dependencies/bootstrap-sass-official/scrollspy.js"></script>
  <script src="/dependencies/bootstrap-sass-official/tab.js"></script>
  <script src="/dependencies/bootstrap-sass-official/tooltip.js"></script>
  <script src="/dependencies/bootstrap-sass-official/transition.js"></script>
  <script src="/dependencies/bootstrap/bootstrap.js"></script>
  <script src="/dependencies/jquery.easing/jquery.easing.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/controllers/HomeController.js"></script>
  <script src="/js/controllers/RaceController.js"></script>
  <script src="/js/controllers/ScenarioController.js"></script>
  <script src="/js/directives.js"></script>
  <script src="/js/filters.js"></script>
  <script src="/js/grayscale.js"></script>
  <script src="/js/models/Race.js"></script>
  <script src="/js/services.js"></script>
  <!--SCRIPTS END-->
</body>
</html>
