<!doctype html>
<html lang="en" ng-app="PuntersBotApp">
<head>
  <meta charset="utf-8">
  <title>Punters Bot</title>
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/assets/dependencies/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="/assets/dependencies/font-awesome/font-awesome.css">
  <link rel="stylesheet" href="/assets/styles/app.css">
  <link rel="stylesheet" href="/assets/styles/grayscale.css">
  <link rel="stylesheet" href="/assets/styles/pricing.css">
  <!--STYLES END-->
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <div ng-view>
    <%-body%>
  </div>
  <!--TEMPLATES-->
  <script type="text/javascript" src="/jst.js"></script>
  <!--TEMPLATES END-->
  
  <!--SCRIPTS-->
  <script src="/assets/dependencies/jquery/jquery.js"></script>
  <script src="/assets/dependencies/angular/angular.js"></script>
  <script src="/assets/dependencies/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/assets/dependencies/angular-route/angular-route.js"></script>
  <script src="/assets/dependencies/angular-socket-io/socket.js"></script>
  <script src="/assets/dependencies/bootstrap/bootstrap.js"></script>
  <script src="/assets/dependencies/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/js/app.js"></script>
  <script src="/assets/js/controllers.js"></script>
  <script src="/assets/js/directives.js"></script>
  <script src="/assets/js/filters.js"></script>
  <script src="/assets/js/grayscale.js"></script>
  <script src="/assets/js/services.js"></script>
  <!--SCRIPTS END-->
</body>
</html>
