.homepage, .homepage > div{
    height: 100%;
}

.homepage section{
    width: 100%; 
    height: 100%; 
    display: table;
}

.homepage section > div {
    display: table-cell;
    vertical-align: middle;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #323B44;
    color: #727272;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: nonte;
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.3);
}

.homepage .intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/intro-bg.jpg) no-repeat center center scroll;
    background-attachment: fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.homepage .intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.homepage .intro .intro-body .brand-heading {
    font-size: 40px;
    text-shadow:
    -1px -1px 0 #666,
    1px -1px 0 #666,
    -1px 1px 0 #666,
    1px 1px 0 #666;
    -webkit-font-smoothing: antialiased;
}

.homepage .intro .intro-body .intro-text {
    font-size: 18px;
    color: white;
    text-shadow:
    -1px -1px 0 #666,
    1px -1px 0 #666,
    -1px 1px 0 #666,
    1px 1px 0 #666;
    -webkit-font-smoothing: antialiased;
}

@media(min-width:767px) {
    .homepage .intro {
        height: 100%;
        padding: 0;
    }

    .homepage .intro .intro-body .brand-heading {
        font-size: 80px;
    }

    .homepage .intro .intro-body .intro-text {
        font-size: 25px;
    }
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.homepage section{
    background: #f8f8f8;
    color: #727272;
}

.homepage .content-section {
    padding-top: 100px;
}

.homepage #pricing {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/other-bg1.jpg) no-repeat center center scroll;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.homepage #about{
    background-color: #323B44;
    color: #fff;
}

.homepage ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    .homepage ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .homepage ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    .homepage ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}
